In [1]:
#import libraries
import pandas as pd

#read csv file
courses= pd.read_csv('courses.csv', low_memory = False)



# Print the resulting DataFrame
print(courses)

   code_module code_presentation  module_presentation_length
0          AAA             2013J                         268
1          AAA             2014J                         269
2          BBB             2013J                         268
3          BBB             2014J                         262
4          BBB             2013B                         240
5          BBB             2014B                         234
6          CCC             2014J                         269
7          CCC             2014B                         241
8          DDD             2013J                         261
9          DDD             2014J                         262
10         DDD             2013B                         240
11         DDD             2014B                         241
12         EEE             2013J                         268
13         EEE             2014J                         269
14         EEE             2014B                         241
15         FFF             2013J                         268
16         FFF             2014J                         269
17         FFF             2013B                         240
18         FFF             2014B                         241
19         GGG             2013J                         261
20         GGG             2014J                         269
21         GGG             2014B                         241

In [2]:
#read csv file
assessments= pd.read_csv('assessments.csv', low_memory = False)


# Print the resulting DataFrame
print(assessments)

    code_module code_presentation  id_assessment assessment_type   date  \
0           AAA             2013J           1752             TMA   19.0
1           AAA             2013J           1753             TMA   54.0
2           AAA             2013J           1754             TMA  117.0
3           AAA             2013J           1755             TMA  166.0
4           AAA             2013J           1756             TMA  215.0
..          ...               ...            ...             ...    ...
201         GGG             2014J          37443             CMA  229.0
202         GGG             2014J          37435             TMA   61.0
203         GGG             2014J          37436             TMA  124.0
204         GGG             2014J          37437             TMA  173.0
205         GGG             2014J          37444            Exam  229.0

     weight
0      10.0
1      20.0
2      20.0
3      20.0
4      30.0
..      ...
201     0.0
202     0.0
203     0.0
204     0.0
205   100.0

[206 rows x 6 columns]

In [3]:
#read csv file
studentRegistration= pd.read_csv('studentRegistration.csv', low_memory = False)



# Print the resulting DataFrame
print(studentRegistration)

      code_module code_presentation  id_student  date_registration  \
0             AAA             2013J       11391             -159.0
1             AAA             2013J       28400              -53.0
2             AAA             2013J       30268              -92.0
3             AAA             2013J       31604              -52.0
4             AAA             2013J       32885             -176.0
...           ...               ...         ...                ...
32588         GGG             2014J     2640965               -4.0
32589         GGG             2014J     2645731              -23.0
32590         GGG             2014J     2648187             -129.0
32591         GGG             2014J     2679821              -49.0
32592         GGG             2014J     2684003              -28.0

       date_unregistration
0                      NaN
1                      NaN
2                     12.0
3                      NaN
4                      NaN
...                    ...
32588                  NaN
32589                  NaN
32590                  NaN
32591                101.0
32592                  NaN

[32593 rows x 5 columns]

In [4]:
import pandas as pd

# Read CSV file
studentAssessment= pd.read_csv('studentAssessment.csv', low_memory=False)


# Print the resulting DataFrame
print(studentAssessment)

        id_assessment  id_student  date_submitted  is_banked  score
0                1752       11391              18          0   78.0
1                1752       28400              22          0   70.0
2                1752       31604              17          0   72.0
3                1752       32885              26          0   69.0
4                1752       38053              19          0   79.0
...               ...         ...             ...        ...    ...
173907          37443      527538             227          0   60.0
173908          37443      534672             229          0  100.0
173909          37443      546286             215          0   80.0
173910          37443      546724             230          0  100.0
173911          37443      558486             224          0   80.0

[173912 rows x 5 columns]

In [5]:
#read csv file
studentinfo= pd.read_csv('studentinfo.csv', low_memory = False)



# Print the resulting DataFrame
print(studentinfo)

      code_module code_presentation  id_student gender                region  \
0             AAA             2013J       11391      M   East Anglian Region
1             AAA             2013J       28400      F              Scotland
2             AAA             2013J       30268      F  North Western Region
3             AAA             2013J       31604      F     South East Region
4             AAA             2013J       32885      F  West Midlands Region
...           ...               ...         ...    ...                   ...
31477         GGG             2014J     2640965      F                 Wales
31478         GGG             2014J     2645731      F   East Anglian Region
31479         GGG             2014J     2648187      F          South Region
31480         GGG             2014J     2679821      F     South East Region
31481         GGG             2014J     2684003      F      Yorkshire Region

           highest_education imd_band age_band  num_of_prev_attempts  \
0           HE Qualification  90-100%     55<=                     0
1           HE Qualification   20-30%    35-55                     0
2      A Level or Equivalent   30-40%    35-55                     0
3      A Level or Equivalent   50-60%    35-55                     0
4         Lower Than A Level   50-60%     0-35                     0
...                      ...      ...      ...                   ...
31477     Lower Than A Level    10-20     0-35                     0
31478     Lower Than A Level   40-50%    35-55                     0
31479  A Level or Equivalent   20-30%     0-35                     0
31480     Lower Than A Level  90-100%    35-55                     0
31481       HE Qualification   50-60%    35-55                     0

       studied_credits disability final_result
0                  240          N         Pass
1                   60          N         Pass
2                   60          Y    Withdrawn
3                   60          N         Pass
4                   60          N         Pass
...                ...        ...          ...
31477               30          N         Fail
31478               30          N  Distinction
31479               30          Y         Pass
31480               30          N    Withdrawn
31481               30          N  Distinction

[31482 rows x 12 columns]

In [6]:
#read csv file
studentVle= pd.read_csv('studentVle.csv', low_memory = False)


# Print the resulting DataFrame
print(studentVle)

         code_module code_presentation  id_student  id_site  date  sum_click
0                AAA             2013J       28400   546652   -10          4
1                AAA             2013J       28400   546652   -10          1
2                AAA             2013J       28400   546652   -10          1
3                AAA             2013J       28400   546614   -10         11
4                AAA             2013J       28400   546714   -10          1
...              ...               ...         ...      ...   ...        ...
10655275         GGG             2014J      675811   896943   269          3
10655276         GGG             2014J      675578   896943   269          1
10655277         GGG             2014J      654064   896943   269          3
10655278         GGG             2014J      654064   896939   269          1
10655279         GGG             2014J      654064   896939   269          1

[10655280 rows x 6 columns]

In [7]:
# Read CSV file
Vle = pd.read_csv('Vle.csv', low_memory=False)

# Print the resulting DataFrame
print(Vle)

      id_site code_module code_presentation activity_type  week_from  week_to
0      546943         AAA             2013J      resource        NaN      NaN
1      546712         AAA             2013J     oucontent        NaN      NaN
2      546998         AAA             2013J      resource        NaN      NaN
3      546888         AAA             2013J           url        NaN      NaN
4      547035         AAA             2013J      resource        NaN      NaN
...       ...         ...               ...           ...        ...      ...
6359   897063         GGG             2014J      resource        NaN      NaN
6360   897109         GGG             2014J      resource        NaN      NaN
6361   896965         GGG             2014J     oucontent        NaN      NaN
6362   897060         GGG             2014J      resource        NaN      NaN
6363   897100         GGG             2014J      resource        NaN      NaN

[6364 rows x 6 columns]

In [8]:
# Read the studentdata file
Student_data1 = pd.merge(studentVle, studentAssessment, how='inner', on=None, left_on=None, right_on=None,
                         left_index=False, right_index=False, sort=True)

# Print the resulting merged and cleaned DataFrame
print(Student_data1)

          code_module code_presentation  id_student  id_site  date  sum_click  \
0                 AAA             2014J        6516   877049   -23          1
1                 AAA             2014J        6516   877049   -23          1
2                 AAA             2014J        6516   877049   -23          1
3                 AAA             2014J        6516   877049   -23          1
4                 AAA             2014J        6516   877049   -23          1
...               ...               ...         ...      ...   ...        ...
101769003         BBB             2014J     2698588   913473   258          1
101769004         BBB             2014J     2698588   913473   258          1
101769005         BBB             2014J     2698588   913473   258          1
101769006         BBB             2014J     2698588   913473   258          1
101769007         BBB             2014J     2698588   913473   258          1

           id_assessment  date_submitted  is_banked  score
0                   1758              17          0   60.0
1                   1759              51          0   48.0
2                   1760             116          0   63.0
3                   1761             164          0   61.0
4                   1762             210          0   77.0
...                  ...             ...        ...    ...
101769003          15020              18          0  100.0
101769004          15021              53          0   85.0
101769005          15022             109          0   87.0
101769006          15023             152          0   95.0
101769007          15024             202          0   95.0

[101769008 rows x 10 columns]

In [9]:
# Read the studentdata file
Student_data2 = pd.merge(courses, assessments, how='inner', on=None, left_on=None, right_on=None,
                         left_index=False, right_index=False, sort=True)

# Print the resulting merged and cleaned DataFrame
print(Student_data2)

    code_module code_presentation  module_presentation_length  id_assessment  \
0           AAA             2013J                         268           1752
1           AAA             2013J                         268           1753
2           AAA             2013J                         268           1754
3           AAA             2013J                         268           1755
4           AAA             2013J                         268           1756
..          ...               ...                         ...            ...
201         GGG             2014J                         269          37443
202         GGG             2014J                         269          37435
203         GGG             2014J                         269          37436
204         GGG             2014J                         269          37437
205         GGG             2014J                         269          37444

    assessment_type   date  weight
0               TMA   19.0    10.0
1               TMA   54.0    20.0
2               TMA  117.0    20.0
3               TMA  166.0    20.0
4               TMA  215.0    30.0
..              ...    ...     ...
201             CMA  229.0     0.0
202             TMA   61.0     0.0
203             TMA  124.0     0.0
204             TMA  173.0     0.0
205            Exam  229.0   100.0

[206 rows x 7 columns]

In [10]:
# Read the studentdata file
Student_data3 = pd.merge(Student_data1, Student_data2, how='inner', on=None, left_on=None, right_on=None,
                         left_index=False, right_index=False, sort=True)

# Print the resulting merged and cleaned DataFrame
print(Student_data3)

       code_module code_presentation  id_student  id_site  date  sum_click  \
0              AAA             2013J       32885   546732    19          2
1              AAA             2013J       32885   546614    19          1
2              AAA             2013J       38053   546879    19          5
3              AAA             2013J       38053   546667    19          4
4              AAA             2013J       38053   546657    19         11
...            ...               ...         ...      ...   ...        ...
613957         GGG             2014J     2533195   896971   229          1
613958         GGG             2014J     2533195   896943   229          4
613959         GGG             2014J     2606765   896943   229          1
613960         GGG             2014J     2620947   896943   229          2
613961         GGG             2014J     2620947   896970   229          6

        id_assessment  date_submitted  is_banked  score  \
0                1752              26          0   69.0
1                1752              26          0   69.0
2                1752              19          0   79.0
3                1752              19          0   79.0
4                1752              19          0   79.0
...               ...             ...        ...    ...
613957          37443             212          0   80.0
613958          37443             212          0   80.0
613959          37443             226          0   80.0
613960          37443             222          0   80.0
613961          37443             222          0   80.0

        module_presentation_length assessment_type  weight
0                              268             TMA    10.0
1                              268             TMA    10.0
2                              268             TMA    10.0
3                              268             TMA    10.0
4                              268             TMA    10.0
...                            ...             ...     ...
613957                         269             CMA     0.0
613958                         269             CMA     0.0
613959                         269             CMA     0.0
613960                         269             CMA     0.0
613961                         269             CMA     0.0

[613962 rows x 13 columns]

In [11]:
# Read the studentdata file
Student_data4 = pd.merge(Vle, studentRegistration, how='inner', on=None, left_on=None, right_on=None,
                         left_index=False, right_index=False, sort=True)

# Print the resulting merged and cleaned DataFrame
print(Student_data4)

          id_site code_module code_presentation activity_type  week_from  \
0          546943         AAA             2013J      resource        NaN
1          546943         AAA             2013J      resource        NaN
2          546943         AAA             2013J      resource        NaN
3          546943         AAA             2013J      resource        NaN
4          546943         AAA             2013J      resource        NaN
...           ...         ...               ...           ...        ...
10466035   897100         GGG             2014J      resource        NaN
10466036   897100         GGG             2014J      resource        NaN
10466037   897100         GGG             2014J      resource        NaN
10466038   897100         GGG             2014J      resource        NaN
10466039   897100         GGG             2014J      resource        NaN

          week_to  id_student  date_registration  date_unregistration
0             NaN       11391             -159.0                  NaN
1             NaN       28400              -53.0                  NaN
2             NaN       30268              -92.0                 12.0
3             NaN       31604              -52.0                  NaN
4             NaN       32885             -176.0                  NaN
...           ...         ...                ...                  ...
10466035      NaN     2640965               -4.0                  NaN
10466036      NaN     2645731              -23.0                  NaN
10466037      NaN     2648187             -129.0                  NaN
10466038      NaN     2679821              -49.0                101.0
10466039      NaN     2684003              -28.0                  NaN

[10466040 rows x 9 columns]

In [12]:
# Read the studentdata file
Student_data5 = pd.merge(Student_data3, Student_data4, how='inner', on=None, left_on=None, right_on=None,
                         left_index=False, right_index=False, sort=True)

# Print the resulting merged and cleaned DataFrame
print(Student_data5)

       code_module code_presentation  id_student  id_site  date  sum_click  \
0              AAA             2013J       11391   546614    54          1
1              AAA             2013J       31604   546614    54          1
2              AAA             2013J       31604   546614   117          1
3              AAA             2013J       31604   546614   166          4
4              AAA             2013J       31604   546654    54          2
...            ...               ...         ...      ...   ...        ...
613957         GGG             2014J     2645731   896943   124          3
613958         GGG             2014J     2645731   896943   173          2
613959         GGG             2014J     2645731   896962   173          3
613960         GGG             2014J     2645731   896973   173          1
613961         GGG             2014J     2645731   897150   173          2

        id_assessment  date_submitted  is_banked  score  \
0                1753              53          0   85.0
1                1753              51          0   71.0
2                1754             115          0   74.0
3                1755             165          0   88.0
4                1753              51          0   71.0
...               ...             ...        ...    ...
613957          37436             121          0   81.0
613958          37437             177          0   72.0
613959          37437             177          0   72.0
613960          37437             177          0   72.0
613961          37437             177          0   72.0

        module_presentation_length assessment_type  weight activity_type  \
0                              268             TMA    20.0      homepage
1                              268             TMA    20.0      homepage
2                              268             TMA    20.0      homepage
3                              268             TMA    20.0      homepage
4                              268             TMA    20.0       forumng
...                            ...             ...     ...           ...
613957                         269             TMA     0.0      homepage
613958                         269             TMA     0.0      homepage
613959                         269             TMA     0.0     oucontent
613960                         269             TMA     0.0     oucontent
613961                         269             TMA     0.0       subpage

        week_from  week_to  date_registration  date_unregistration
0             NaN      NaN             -159.0                  NaN
1             NaN      NaN              -52.0                  NaN
2             NaN      NaN              -52.0                  NaN
3             NaN      NaN              -52.0                  NaN
4             NaN      NaN              -52.0                  NaN
...           ...      ...                ...                  ...
613957        NaN      NaN              -23.0                  NaN
613958        NaN      NaN              -23.0                  NaN
613959        NaN      NaN              -23.0                  NaN
613960        NaN      NaN              -23.0                  NaN
613961        NaN      NaN              -23.0                  NaN

[613962 rows x 18 columns]

In [13]:
# Read the studentdata file
Student_data6 = pd.merge(Student_data5, studentinfo, how='inner', on=None, left_on=None, right_on=None,
                         left_index=False, right_index=False, sort=True)

# Print the resulting merged and cleaned DataFrame
print(Student_data6)

       code_module code_presentation  id_student  id_site  date  sum_click  \
0              AAA             2013J       11391   546614    54          1
1              AAA             2013J       31604   546614    54          1
2              AAA             2013J       31604   546614   117          1
3              AAA             2013J       31604   546614   166          4
4              AAA             2013J       31604   546654    54          2
...            ...               ...         ...      ...   ...        ...
577060         GGG             2014J     2645731   896943   124          3
577061         GGG             2014J     2645731   896943   173          2
577062         GGG             2014J     2645731   896962   173          3
577063         GGG             2014J     2645731   896973   173          1
577064         GGG             2014J     2645731   897150   173          2

        id_assessment  date_submitted  is_banked  score  ...  \
0                1753              53          0   85.0  ...
1                1753              51          0   71.0  ...
2                1754             115          0   74.0  ...
3                1755             165          0   88.0  ...
4                1753              51          0   71.0  ...
...               ...             ...        ...    ...  ...
577060          37436             121          0   81.0  ...
577061          37437             177          0   72.0  ...
577062          37437             177          0   72.0  ...
577063          37437             177          0   72.0  ...
577064          37437             177          0   72.0  ...

        date_unregistration gender               region  \
0                       NaN      M  East Anglian Region
1                       NaN      F    South East Region
2                       NaN      F    South East Region
3                       NaN      F    South East Region
4                       NaN      F    South East Region
...                     ...    ...                  ...
577060                  NaN      F  East Anglian Region
577061                  NaN      F  East Anglian Region
577062                  NaN      F  East Anglian Region
577063                  NaN      F  East Anglian Region
577064                  NaN      F  East Anglian Region

            highest_education  imd_band  age_band  num_of_prev_attempts  \
0            HE Qualification   90-100%      55<=                     0
1       A Level or Equivalent    50-60%     35-55                     0
2       A Level or Equivalent    50-60%     35-55                     0
3       A Level or Equivalent    50-60%     35-55                     0
4       A Level or Equivalent    50-60%     35-55                     0
...                       ...       ...       ...                   ...
577060     Lower Than A Level    40-50%     35-55                     0
577061     Lower Than A Level    40-50%     35-55                     0
577062     Lower Than A Level    40-50%     35-55                     0
577063     Lower Than A Level    40-50%     35-55                     0
577064     Lower Than A Level    40-50%     35-55                     0

        studied_credits disability final_result
0                   240          N         Pass
1                    60          N         Pass
2                    60          N         Pass
3                    60          N         Pass
4                    60          N         Pass
...                 ...        ...          ...
577060               30          N  Distinction
577061               30          N  Distinction
577062               30          N  Distinction
577063               30          N  Distinction
577064               30          N  Distinction

[577065 rows x 27 columns]

In [14]:
#Convert merged DataFrame to CSV
Student_data6.to_csv("Student_data6.csv", index=False, header = True)

In [18]:
# Read the CSV file
new_Student_data6 = pd.read_csv("Student_data6.csv", header=0)

# Drop specific columns
columns_to_drop = ['activity_type', 'week_from', 'week_to', 'id_site', 'disability', 'studied_credits',
                   'date_unregistration', 'date_registration', 'date_submitted',
                   'id_student', 'date', 'id_assessment', 'is_banked', 'num_of_prev_attempts',
                   'module_presentation_length']

# Check if the columns exist in the DataFrame
existing_columns = set(columns_to_drop).intersection(new_Student_data6.columns)

# Drop existing columns
if existing_columns:
    new_Student_data6 = new_Student_data6.drop(columns_to_drop, axis=1)
else:
    print("One or more columns do not exist in the DataFrame.")

# Drop missing values and duplicates
new_Student_data6 = new_Student_data6.dropna().drop_duplicates()

# Print the resulting cleaned DataFrame
print(new_Student_data6)

       code_module code_presentation  sum_click  score assessment_type  \
0              AAA             2013J          1   85.0             TMA
1              AAA             2013J          1   71.0             TMA
2              AAA             2013J          1   74.0             TMA
3              AAA             2013J          4   88.0             TMA
4              AAA             2013J          2   71.0             TMA
...            ...               ...        ...    ...             ...
577057         GGG             2014J          6   80.0             CMA
577060         GGG             2014J          3   81.0             TMA
577061         GGG             2014J          2   72.0             TMA
577062         GGG             2014J          3   72.0             TMA
577063         GGG             2014J          1   72.0             TMA

        weight gender               region      highest_education imd_band  \
0         20.0      M  East Anglian Region       HE Qualification  90-100%
1         20.0      F    South East Region  A Level or Equivalent   50-60%
2         20.0      F    South East Region  A Level or Equivalent   50-60%
3         20.0      F    South East Region  A Level or Equivalent   50-60%
4         20.0      F    South East Region  A Level or Equivalent   50-60%
...        ...    ...                  ...                    ...      ...
577057     0.0      F             Scotland  A Level or Equivalent   80-90%
577060     0.0      F  East Anglian Region     Lower Than A Level   40-50%
577061     0.0      F  East Anglian Region     Lower Than A Level   40-50%
577062     0.0      F  East Anglian Region     Lower Than A Level   40-50%
577063     0.0      F  East Anglian Region     Lower Than A Level   40-50%

       age_band final_result
0          55<=         Pass
1         35-55         Pass
2         35-55         Pass
3         35-55         Pass
4         35-55         Pass
...         ...          ...
577057     0-35  Distinction
577060    35-55  Distinction
577061    35-55  Distinction
577062    35-55  Distinction
577063    35-55  Distinction

[269744 rows x 12 columns]

In [19]:
#Convert merged DataFrame to CSV
new_Student_data6.to_csv("new_Student_data6.csv", index=False, header = True)